* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: #f5f6fa;
}
body::-webkit-scrollbar {
  display: none;
}
.app {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 10px;
  height: 100vh;
}

.left_container {
  display: flex;
  flex: 0.9;
  flex-direction: column;
}

.app_header {
  display: flex;
  flex: 0.9;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.info__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.right__container {
  flex-direction: column;
  /* flex: 0.1; */
  margin-left: 10px;
}
.livecaese {
  display: flex;
  flex-direction: column;
}

@media (max-width: 990px) {
  .app {
    flex-direction: column;
    margin-top: 30px;
  }
  .right__container {
    margin-left: 0px;
    width: 96vw;
  }
  .info__container {
    width: 95vw;
    display: flex;
    justify-content: space-between;
  }
}
